# Ignorar arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar ambiente virtual (MUITO IMPORTANTE)
venv/
env/
.env

# Ignorar banco de dados (Opcional, mas recomendado não subir dados reais)
*.db
*.sqlite3

# Ignorar arquivos de IDE
.vscode/
.idea/

# PyInstaller - Pastas de build e distribuição
build/
dist/
*.spec

# Inno Setup - Pastas de saída do instalador
Output/
Instalador/
*.iss

# Arquivos de log e temporários do sistema
*.log
usuarios.db